<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" href="#" th:text="#{title}"></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/api/v1/students" th:text="#{home}"></a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<h1 class="text-center" th:text="#{students_list}"></h1>
	</div>

	<div th:if="${param.added}" class="alert alert-success" th:text="#{student_added}">
	</div>

	<div th:if="${param.deleted}" class="alert alert-success" th:text="#{student_deleted}">
	</div>

	<div th:if="${param.updated}" class="alert alert-success" th:text="#{student_updated}">
	</div>

	<div th:if="${param.not_found}" class="alert alert-danger" th:text="#{student_not_found}">
	</div>

	<div class="row">
		<div class="col-lg-3">
			<a th:href="@{|${baseUrl}/new|}" class="btn btn-primary mb-3" th:text="#{button_add}"></a>
		</div>
	</div>
	<table class="table table-striped table-bordered">
		<thead class="table-dark">
		<tr>
			<th th:text="#{student_firstName}"></th>
			<th th:text="#{student_lastName}"></th>
			<th th:text="#{student_email}"></th>
			<th th:text="#{student_action}"></th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="student : ${students}">
			<td th:text="${student.firstName}"></td>
			<td th:text="${student.lastName}"></td>
			<td th:text="${student.email}"></td>
			<td>
				<div class="btn-group w-100">
					<a class="btn btn-primary" th:href="@{{baseUrl}/{id}/update(id=${student.id},baseUrl=${baseUrl})}" th:text="#{button_edit}"></a>
					<a class="btn btn-danger" th:href="@{{baseUrl}/{id}/delete(id=${student.id},baseUrl=${baseUrl})}" th:text="#{button_delete}"></a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>